<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ pageTitle }}</title>
        <link rel="stylesheet" type="text/css" href="./../assets/css/style.css">
        <script src="./../js/func.js"></script>
        {{ subTitle }}
    </head>
    <body>
        <p>Oto przykładowa strona</p>
        <p>Przy użyciu hbs</p>
    </body>
</html>